@font-face {
    font-family: 'Fura Mono';
    src: url('./fonts/Fura\ Mono\ Regular\ Nerd\ Font\ Complete.otf');
}

:root {
    --bg-color: #2e3440;
    --text-color: #414a59;
    --line-color: #4c566a;
    --line-alt-color: #3b4252;
    --mode: #D8DEE9;
    --mode-osu: pink;
    --mode-chng: var(--mode);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: transparent; 
    /* background-color: var(--bg-color); */
    width: 1920px;
    height: 1080px;
    font-family: 'Fura Mono';
}

body > div {
    position: absolute;
}


.window {
    outline: 8px solid var(--bg-color);
    background-color: var(--bg-color);
    border: 2px solid #414a59; 
}

.window.plate {
    position: relative;
    color: white;
    padding: 10px;
    text-align: center;
    width: max-content;
}

.window.plate.score {
    margin: -19px auto 0 auto;
}

.window.plate.ch {
    margin: -19px auto;
    padding: 10px 25px 10px 25px;
}

.window.webcam {
    aspect-ratio: 16/9;
    width: 265px;
    right: 15px;
    bottom: 22px; 
}

.window.chat {
    right: 15px;
    top: 26px;
    width: 265px;
    height: 500px;
}

.gameBorder {
    aspect-ratio: 1680/1080;
    border: 2px solid #414a59; 
    width: 1600px;
    margin: 25px 15px;
}

.bottomLine {
    background: var(--line-color); 
    width: 1600px;
    bottom: 24px;
    left: 17px;
    font-size: 16pt;
    display: flex;
}
.bottomLine > div {
    width: 70%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    word-wrap: break-word;
}
.bottomLine > .left {
    text-align: left;
    z-index: 1;
}

.bottomLine > .right {
    justify-content: end;
    color: white;
}

.mode {
    padding: 0px 10px 0px 10px;
    color: #2E3440;
    background-color: var(--mode-chng);
    display: inline;
}


.triangle {
    border: solid 15px;
    overflow: hidden;
}

.triangle.right.md {

    background-color: var(--line-alt-color);
    border-color: transparent transparent transparent var(--mode-chng);

    border-right: 0;
}

.triangle.right {
    border-color: transparent transparent transparent var(--line-alt-color);
}

.triangle.left {
    background-color: var(--line-color);
    border-color: transparent var(--line-alt-color) transparent transparent;
}
.np {
    color: white;
    background-color: var(--line-alt-color);
    padding: 0 10px 0 10px;
}

.pp {
    background-color: var(--line-alt-color);
    padding: 0 24px 0 36px;
}

.hits {
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--line-alt-color);
}

#h100 {
    color: #A3BE8C;
}

#h50 {
    color: #5E81AC;
}

#h0 {
    color: #BF616A;
}